<%- include('partials/header.ejs') %>

<div class="container">
  <h2 class="">My Profile</h2>
  <hr>
  <div class="px-4 py-5 my-5 text-center">
    <img id="myprofile-pic" class="d-block mx-auto mb-4"  src="/images/profile-image.jpg" alt="user profile picture" >
    <h3 class=" fw-bold text-body-emphasis">Marina Test Joyer</h3>
    <div class="col-lg-6 mx-auto">
      <p id="myprofile-bio" class="text-break mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="">My Posts</h2>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="card mb-4">
        
        <div class="card-body">
          <h5 class="card-title">post title</h5>
          <p class="card-text">Some quick example text to build on the post title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>

      
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>